<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>230347645921-7h0564eov98cj4du5e2ofbvjqs2f5728.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230347645921-7h0564eov98cj4du5e2ofbvjqs2f5728</string>
	<key>API_KEY</key>
	<string>AIzaSyCG9CycD0JgAQBYjTbLrl0dBZkWVX-eCMc</string>
	<key>GCM_SENDER_ID</key>
	<string>230347645921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.competition.PedAppl</string>
	<key>PROJECT_ID</key>
	<string>pedappl</string>
	<key>STORAGE_BUCKET</key>
	<string>pedappl.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230347645921:ios:4805b5354258610db8e8a0</string>
</dict>
</plist>